.form-header, .form-note, .form-main, .form-buttons {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-note h4 {
    text-transform: uppercase;
    text-decoration: underline;
    color: red;
}

.form-note ul.form-note-content {
    list-style-type: lower-roman;
    -webkit-padding-start: 1em;
    -moz-padding-start: 1em;
}

.form-note ul.form-note-content li {
    padding-left: 3em;
    color: red;
}

.form-main {
    margin-left: 15px;
    margin-right: 15px;
}

.form-main .form-group .error {
    color: red;
    margin: 5px 0 0 0;
}

.form-main .file-reference {
    display: none;
}

.form-main .file-office button {
    min-width: 100px;
}

.form-main .file-office button:not(:first-of-type) {
    margin-left: 15px;
}

.form-buttons {
    text-align: center;
}

.form-buttons .btn {
    font-weight: bold;
}

.form-buttons .btn:not(:first-child) {
    margin-left: 10px;
}

.claim-data {
    margin-top: 15px;
}

.claim-data div.row {
    margin-bottom: 10px;
}

.edit_history_button {
    color: black !important;
}

.edit_history_button:before {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 10px;
    vertical-align: middle;
    border-top: 7px solid black;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 0 solid black;
    overflow: hidden;
    transition: 200ms ease;
}

.edit_history_button.collapsed:before {
    transform: rotate(-90deg);
}

.modal-title {
    font-size: 18px;
    font-weight: 600;
}

.list-keywords {
    border-radius: 4px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-keywords ul {
    list-style: none;
}

.list-keywords ul li {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-keywords .glyphicon {
    margin-right: 5px;
}

.list-keywords ul.keywords {
    padding: 0;
}

@media (min-width: 1024px) {
    .modal-dialog {
        width: 700px;
    }
}
