.left {
    background: #444444;
    padding: 30px;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -15px;
}

.left-information h1 {
    font-size: 60px
}

.footer-left {
    margin-bottom: 200px;
    margin-top: 70px;
}

.left a {
    color: #fff
}

.right {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 20px;
}

.title h3 {
    color: #de6837
}

.check-up {
    margin-top: 40px
}

.check-up .items {
    border: solid 2px #eee;
    border-radius: 10px;
    padding: 20px;
    height: 180px;
    width: 100%;
    margin-bottom: 20px;
}

.check-up .items {
    text-align: center
}

.check-up .items span {
    font-weight: 500
}

input[type="radio"] {
    visibility: hidden
}

.check-up .items .dra-radio {
    position: absolute;
    left: 30px;
    top: 15px;
    width: 18px;
    height: 18px;
    border: solid 1px #ccc;
    border-radius: 100%;
}

.check-up .items input:checked+.dra-radio {
    background: #de6837;
}

.check-up .items input:checked~span {
    color: #de6837;
}

.check-up .items img {
    padding-bottom: 20px;
    display: block;
    margin: auto;
    width: 50px;
}

.check-up textarea {
    width: 100%;
    margin: 10px 0;
    border: solid 2px #eee;
    border-radius: 10px;
    height: 100px;
    overflow: hidden;
}

.check-up .dra-btn {
    background: #de6837;
    border: 0;
    color: #fff;
    padding: 5px 40px;
    border-radius: 4px;
}

.other-reason {
    display: flex;
    align-items: flex-end
}

.other-reason .box-radio {
    margin-right: 10px
}

.other-reason .box-radio .dra-radio {
    width: 18px;
    height: 18px;
    border: solid 1px #ccc;
    border-radius: 100%;
}

.other-reason .box-radio input:checked+.dra-radio {
    background: #de6837;
}

footer {
    padding: 50px;
    background: #eeeeee4d;
    text-align: center;
    color: #a5a4a4;
    margin: 0 -15px;
}