#left-sidebar {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#left-sidebar ul {
    list-style: none;
    padding: 0;
}

#left-sidebar a {
    margin-bottom: 10px;
    display: block;
    color: black;
    font-weight: 500;
}

#left-sidebar a:hover, #left-sidebar a.active {
    color: #d3522a;
    text-decoration: none;
}

#left-sidebar a i {
    margin-right: 10px;
}

#left-sidebar > ul > li > ul {
    padding-left: 20px;
}

#left-sidebar > ul > li > ul > li > ul {
    padding-left: 30px;
}