.edit_history_button {
    color: black !important;
}

.edit_history_button:before {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 10px;
    vertical-align: middle;
    border-top: 7px solid black;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 0 solid black;
    overflow: hidden;
    transition: 200ms ease;
}

.edit_history_button.collapsed:before {
    transform: rotate(-90deg);
}