html, body {
    height: 100%;
}
body {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
}

.btn-primary.login {
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
input.btn-primary {
    background-color: #01aff0
}

.login {
    background-color: transparent !important;
    min-width: 200px
}

.panel-default {
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.panel-default .panel-heading {
    background-color: transparent;
    text-transform: uppercase;
    color: #000000;
    border: none
}

.header-page {
    line-height: 80px;
    height: auto;
    background-color: #444444
}

.header-page > .container-fluid > .row > .navbar-default {
    background-color: #444444;
    border: none;
    margin-bottom: 0
}

.header-page .navbar-nav > li > a {
    color: #FFF
}

.header-page .navbar-nav > li > a.login {
    text-transform: uppercase;
    padding: 8px
}

.header-page .navbar-toggle {
    margin-top: 25px;
    margin-right: 10px
}

.header-page .navbar-toggle .icon-bar {
    background-color: #3b3b3b
}

.header-page > .container > .row > .navbar-default img {
    width: 230px;
}

.subheader {
    background-color: #FFF;
    padding: 50px 0 30px;
}

.subheader > .container {
    position: relative
}

.subheader .panel-default {
    display: inline-block;
    vertical-align: middle
}

.subheader .panel-default:nth-of-type(3) a {
    float: right;
    background-color: #d3522a;
    padding: 7px 35px;
    font-size: 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #FFF;
    text-decoration: none !important
}

.subheader .panel-default .panel-heading {
    background-color: transparent;
    border: none;
    text-transform: none
}

.subheader .panel-default .panel-heading h3.panel-title {
    font-size: 36px;
    color: #fd4c06
}

.subcontent {
    background-color: #eeeff4;
    float: left
}

.subcontent .panel-default .panel-heading {
    padding: 30px 10px
}

.subcontent .panel-default .panel-heading h3.panel-title {
    font-size: 26px
}

.loader {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 10;
}

.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #bdbdbd;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#navbar .navbar-nav > li > a {
    color: #FFF;
    font-size: 16px;
    padding: 10px 0;
    background-color: transparent !important;
    cursor: pointer
}

.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
}

footer p {
    line-height: 30px;
    text-align: center;
    margin: 0;
}

.page-title {
    font-size: 20px;
    margin-top: 0;
}

.dataTables_wrapper #listing_length {
    text-align: right;
}

.dataTables_wrapper .row:nth-of-type(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*button*/
.button-group .btn:not(:first-child) {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .subheader .panel-default .panel-heading h3.panel-title {
        font-size: 26px
    }

    .header-page > .container > .row > .navbar-default img {
        width: 230px;
        margin-left: 10px
    }
}

@media (min-width: 768px) {
    #navbar {
        display: none !important
    }

    .login {
        border: 1px solid #FFF !important
    }

    .header-page .navbar-nav > li > a:not(.login) {
        line-height: 60px
    }

    .header-page .navbar-nav > li > a.login {
        margin-top: 20px
    }

    /*datatables*/
    .dataTables_length {
        text-align: right;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-page .navbar-nav > li > a {
        padding: 10px 7px
    }
}

@media (min-width: 992px) {
    .subheader .panel-default:nth-of-type(3) {
        position: absolute;
        right: 30px;
        top: 30px
    }

    .header-page .navbar-nav > li > a:not(.login) {
        line-height: 50px
    }
}

.title {
    margin-bottom: 40px
}
.title h3 {
    color: #de6837
}
.note{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px
}
.note .node-item{
    margin-left: 100px;
    display: flex
}
.note .node-item .box{
    width: 100px;
    height:25px;
    display: inline-block;
    margin-right: 10px;
    background: #ebebeb
}
.note .node-item span{
    font-weight: 500
}
.note .node-item .busy{
    background: red
}
.note .node-item .available{
    background: green;
}
.checkup-list{
    border-left: solid 1px #ccc
}
.checkup-list tr th{
    background: #de6837;
    width: 10%;
    padding:10px;
    color: white;
    vertical-align: top;
    font-weight: normal;
    border-right: solid 1px #ccc
}
.checkup-list tr td{
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding:15px;
    font-weight: bold
}
.checkup-list tr td.available-checked{
    background: green;
}
.checkup-list tr td.busy-checked{
    background: red;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}
.checkup-list tr td.unavailable-checked{
    background: green;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #de6737;
    border-color: #de6737;
}
.pagination>li>a, .pagination>li>span {
    color: #de6737;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #de6737;
}
.ajax-loading {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000000;
    font-size: 0;
    display: none;
}
.ajax-loading .content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.ajax-loading .content i{
    font-size: 50px;
    color: #000;
}
/*.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active{*/
/*background: #de6737;*/
/*border-color: #de6737;*/
/*}*/



.check-up {
    /* margin-top: 40px */
}

.check-up .items {
    border: solid 2px #eee;
    border-radius: 10px;
    padding: 20px;
    height: 180px;
    width: 100%;
    margin-bottom: 20px;
}

.check-up .items {
    text-align: center
}

.check-up .items span {
    font-weight: 500;
    font-size: 12px;
}

input[type="radio"] {
    visibility: hidden
}

.check-up .items .dra-radio {
    position: absolute;
    left: 30px;
    top: 15px;
    width: 18px;
    height: 18px;
    border: solid 1px #ccc;
    border-radius: 100%;
}

.check-up .items input:checked+.dra-radio {
    background: #de6837;
}

.check-up .items input:checked~span {
    color: #de6837;
}

.check-up .items img {
    padding-bottom: 20px;
    display: block;
    margin: auto;
    width: 50px;
}

.check-up textarea {
    width: 100%;
    margin: 10px 0;
    border: solid 2px #eee;
    border-radius: 10px;
    height: 100px;
    overflow: hidden;
}

.check-up .dra-btn {
    background: #de6837;
    border: 0;
    color: #fff;
    padding: 5px 40px;
    border-radius: 4px;
}

.other-reason {
    display: flex;
    align-items: flex-end
}

.other-reason .box-radio {
    margin-right: 10px
}

.other-reason .box-radio .dra-radio {
    width: 18px;
    height: 18px;
    border: solid 1px #ccc;
    border-radius: 100%;
}

.other-reason .box-radio input:checked+.dra-radio {
    background: #de6837;
}